<div class="jumbotron">
	<center>
		<span class="gfont">
			<h1>GitAround</h1><br>
			<h4><em>The easiest way to find, clone, and customize travel itineries.</em></h4>

		</span>
	</center>
</div>

<div class="container">
  <div class="row">

<!-- Search / Filters -->


<!-- All Itineraries -->


		<div ng-controller="ItinsCtrl">
			<br>
			<div class= "col-sm-6 col-sm-offset-3">	
				<center>
				<h3>Where are you goin?</h3>
				<label><input ng-model="search.city" Placeholder="San Francisco" class="form-control"></label>
				<br>
				<h3>For how many days?</h3>
				
				<h4><label><input type="checkbox" ng-model="search.itin_duration_days" ng-true-value="0" class="big-checkbox">&nbsp;Less than 1 day</label>&nbsp;&nbsp;&nbsp;
				<label><input type="checkbox" ng-model="search.itin_duration_days" ng-true-value=".5" class="big-checkbox">&nbsp;1 - 3 days</label>&nbsp;&nbsp;&nbsp;
				<label><input type="checkbox" ng-model="search.itin_duration_days" ng-true-value="1" class="big-checkbox">&nbsp;More than 4 days</label></h4>
<!-- 				<label><input type="checkbox" ng-model="search.itin_duration_days" ng-true-value="2">2</label>
				<label><input type="checkbox" ng-model="search.itin_duration_days" ng-true-value="3">3</label>
				<label><input type="checkbox" ng-model="search.itin_duration_days" ng-true-value="4">4</label>
				<label><input type="checkbox" ng-model="search.itin_duration_days" ng-true-value="5">5</label>
				<label><input type="checkbox" ng-model="search.itin_duration_days" ng-true-value="6">6</label>
				<label><input type="checkbox" ng-model="search.itin_duration_days" ng-true-value="7">7</label> -->
				</center>
			</div>	
			<br>
			<div ng-repeat="i in itins | filter:search">
				<div class="col-md-3 boxlike">
					<center>
					<p>
					{{i.title}}<br>
					<img class="crop" ng-src="{{i.image}}" alt="image"><br>
					City: {{i.city}} <br>
					City: {{i.itin_duration_days}} <br>
					Items: {{i.items.length}}<br>
					</p>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>


