<div class="jumbotron">
  <div class="container">
    <center>
    <h1>Git Around<h1>
    <h4><em>The easiest way to find, clone, and customize travel itineries.</em></h4>
    </center>
    <img src='back.png'>
  </div>
</div>

<div class="container">
  <div class="row">
		<div ng-controller="ItinsCtrl">
      <div class="col-sm-6 col-sm-offset-3">
        <center>
	<!-- Search critera -->
				<h2>Explore city itineraries</h2>
        <h4>Where are you going?</h4>
				<label><input ng-model="search" Placeholder="San Francisco" class="form-control"></label> <br><br>
			</div>	
      <div class= "col-sm-3"> 
  <!-- Button trigger modal -->
        <button type="button" class="btn boxlike xbox" data-toggle="modal" data-target="#myModal">
          New Itinerary
        </button>
      </div>
			<div class="col-sm-6 col-sm-offset-3"></div>
			<br>
 <!-- All Itineraries -->
				<div ng-repeat="i in itins | filter:search">
					
					<div class="col-sm-4 boxes ripplelink">
						<center class="gfont">
  						<a ng-href="./#/itin/{{i.id}}"><h3>{{i.title}}</h3></a>
  						<img class="crop" ng-src="{{i.image}}" alt="image" ><br>
  						{{i.city}},  <br>
  						{{i.itin_duration_days}} days, <br>
  						{{i.items.length}} stops.<br>
						</center>
					</div>
				</div>					
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        <h4 class="modal-title" id="myModalLabel">New Itinerary</h4>
      </div>
      <div class="modal-body">
		  <form ng-submit="submit()">
  			<input type="text" ng-model="itin.title" required placeholder="Title" class="form-control"/><br>
  			<input type="text" ng-model="itin.description" required placeholder="Description" class="form-control"/> <br>
  			<input type="text" ng-model="itin.city" required placeholder="City" class="form-control"/> <br>
  			<input type="text" ng-model="itin.itin_duration_days" required placeholder="Number of days" class="form-control"/> <br>
  			<input type="file" ng-model="itin.image" required placeholder="Cover image" class="form-control"/> <br>
  			<input type="text" ng-model="itin.author" required placeholder="Your name" class="form-control"/> <br>
        <input type="submit" id="submit" value="Submit" class="btn" ng-click="close()"/>
        <button type="button" data-dismiss="modal" aria-label="Close" class="xbox btn"><span aria-hidden="true">&times;</span></button>
      </form>
      </div>
    </div>
  </div>
</div>
