
<div ng-controller="ItinshowCtrl">



  
      <map class="ngmap" center= '{{map.center.location}}' zoom='{{map.zoom}}'>
<!--  remove fit attribute if doesnt work -->
        <marker data ng-repeat='marker in markers' position='{{marker.coords.latitude}}, {{marker.coords.longitude}}' idkey='{{marker.itemid}}'>
        </marker>
      </map>



<!--Pattern HTML-->

  <div class = "header">
    <h1> {{itin.title}} </h1> 
    <p> {{itin.description}} </p>

  </div>


  <div id="pattern" class="pattern">
    <ul class="list img-list" ng-repeat="item in itin.items">
      <li>

        <div class="li-img">
          <img ng-src= "{{ item.image }}" alt="Image Alt Text" />

        </div>
        
        <div class="li-text">
          <p class="li-action">{{ item.category }}</p> <br>
          <h4 class="li-head">{{ item.name }}</h4> <br>
          <p class="li-summary">{{ item.desc }}</p>

        </div>
        
      </li>
    </ul>


  </div>

</div>


















