<div ng-controller="ItinshowCtrl">
<div class="map">
<google-map center ="{latitude: 30, longitude: -120}" zoom="12">

</google-map>
</div>


  <md-content>
    <md-list class = "item">
      <md-subheader class="md-no-sticky">Itinirary Heading</md-subheader>
      <md-list-item class="md-3-line" ng-repeat="item in itin.items">
        <img ng-src="{{item.image}}" class="md-card-image" width = 200 alt="image" />
        <div class="md-list-item-text">
          <h3>{{ item.name }}</h3>
          <h4>{{ item.desc }}</h4>
          <p>{{ item.category }}</p>

        </div>
		

      </md-list-item>

      
    </md-list>

  </md-content>
   
</div>















